{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2022,
    "project": "./tsconfig.json",
    "parser": "@typescript-eslint/parser"
  },
  "globals": {},
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": ["*.ts"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json"
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "node": {
      "tryExtensions": ["*.ts"]
    }
  },
  "plugins": ["@typescript-eslint", "prettier", "import"],
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "prettier",
    "eslint:recommended",
    "plugin:import/typescript",
    "plugin:import/recommended",
    "plugin:node/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": ["lib", "node_modules", "replacer.cjs"],
  "rules": {
    "import/prefer-default-export": "off",
    "node/no-missing-import": "off",
    "node/no-unpublished-import": "off"
  }
}
